.container {
  width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation,
.fail_validation {
  font-size: 13px;
  text-align: center;
}

.fail_validation {
  color: red;
}

.login_input {
  margin: 10px;
  width: 180px;
  height: 25px;
}
.login_submit {
  margin-top: 10px;
  width: 187px;
  height: 35px;
}
